<template>
  <span v-if="isFavorite">
    <i class="fa fa-heart" aria-hidden="true" @click="unfavorite(photo)"></i>
  </span>
  <span v-else>
    <i class="fa fa-heart-o" aria-hidden="true" @click="favorite(photo)"></i>
  </span>
</template>

<script>
export default {
  props: ["photo"],
  data() {
    return {
      isFavorite: false
    };
  },
  async mounted() {
    const photo = this.photo;
    const isFavorite = await axios.post("isfavorite", {
      photo
    });
    this.isFavorite = isFavorite.data;
  },
  methods: {
    async favorite(photo) {
      const favorited = await axios.post("/favorite", {
        photo
      });
      this.isFavorite = true;
    },
    async unfavorite(photo) {
      const unfavorited = await axios.post("/unfavorite", {
        photo
      });
      this.isFavorite = false;
    }
  }
};
</script>
