<template>
  <div class="card" v-if="isWeekday">
    <div class="card-header">Last favorites</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4" :key="photo.id" v-for="photo in data">
          <div class="card mb-4 box-shadow post-cards">
            <div class="card-body">
              <img :src="photo.thumbnailUrl" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" v-else>
    <div class="card-header">Users favorites</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4" :key="user.id" v-for="user in data">
          <div class="card mb-4 box-shadow post-cards">
            <div class="card-body">
              <p>{{user.name}} has {{user.countFavorites}} favorited photos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["data"],
  data() {
    return {
      isWeekday: true
    };
  },
  mounted() {
    this.isWeekday = ![0, 6].indexOf(new Date().getDay()) != -1;
  }
};
</script>
