<template>
  <div class="row">
    <div class="col-md-4" :key="photo.id" v-for="photo in photos">
      <div class="card mb-4 box-shadow post-cards">
        <div class="card-body">
          <img :src="photo.thumbnailUrl" />
          <favorite :photo="photo"></favorite>
        </div>
      </div>
    </div>

    <div class="clearfix btn-group col-md-2 offset-md-5">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        v-if="prev !== 0"
        @click="getPhotos((prev-1));prev--;next--"
      >Prev</button>
      <button
        type="button"
        @click="getPhotos(next);prev++;next++"
        v-if="next < pages.length"
        class="btn btn-sm btn-outline-secondary"
      >Next</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      photos: [],
      prev: 0,
      next: 1,
      perPage: 9,
      pages: []
    };
  },
  async mounted() {
    this.getPhotos(0);
    this.setPages();
  },
  methods: {
    async getPhotos(page) {
      const photos = await axios.get(
        `https://jsonplaceholder.typicode.com/photos?_limit=9&_start=${page *
          this.perPage}`
      );
      this.photos = await photos.data;
    },
    setPages() {
      let numberOfPages = Math.ceil(5000 / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index);
      }
    }
  }
};
</script>
